body {
    background-color: beige;
}

h1, h3 {
    font-family: 'Times New Roman', Times, serif;
    color: darkolivegreen;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    font-weight: 500;
}


li, a:link {
    padding: 5px;
    text-decoration: none;
    color: green;

}


