body {
    background-color: beige;
}

h1, h3 {
    font-family: 'Times New Roman', Times, serif;
    color: darkolivegreen;
}


li, a:link {
    padding: 5px;
    text-decoration: none;
    color: green;
    
}

